.container {
  width: 90% !important;
  margin: 0 auto;
}

header {
  background-image: url(../images/yellow_top_wave_01.png);
  background-position: 25% 75%;
}
header .title nav a {
  margin-left: 40px;
  transition: 0.3s;
  position: relative;
}
header .title nav a:hover {
  color: #b61984;
}
header .title nav a::before {
  content: "";
  position: absolute;
  bottom: -40px;
  background: #b61984;
}
header .title nav a:hover::before {
  width: 10px;
  height: 10px;
  right: 40%;
  border-radius: 50%;
}
header .title nav a.active::before {
  width: 10px;
  height: 10px;
  right: 40%;
  border-radius: 50%;
}
header .title .contact {
  margin-left: 40px;
}
header .title .contact button {
  width: 12rem;
  box-shadow: 0 0 0 3em #b61984 inset;
  color: #fff;
  border-radius: 22px;
  transition: 0.3s;
}
header .title .contact button i {
  rotate: 270deg;
}
header .title .contact button:hover {
  color: #b61984;
  box-shadow: 0 0 0 1px #b61984 inset;
}
header .title .contact nav i {
  margin-left: 10px;
  transition: 0.3s;
}
header .title .contact nav i:hover {
  color: #b61984;
}

.banner h3 {
  color: #b61984;
}

.members {
  background-image: url(../images/Violet_top_left_wave.png);
}
.members .list .item {
  transition: 0.3s ease-in-out;
  background-color: #fff;
  border-radius: 10px;
}
.members .list .item .wrapper {
  border-radius: 10px 10px 0px 0px;
}
.members .list .item .wrapper .image {
  overflow: hidden;
}
.members .list .item .wrapper .image img {
  display: block;
  margin: 0;
  max-width: 100%;
  height: auto;
  transform: scale3d(1, 1, 1);
  transition: transform 650ms ease-in-out, filter 650ms ease-in-out;
}
.members .list .item .wrapper .image img:hover {
  height: auto;
  transform: scale3d(1.05, 1.05, 1.05);
}
.members .list .item .wrapper .desc {
  border-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
  background-color: rgb(255, 255, 255);
}
.members .list .item .wrapper .desc h3 {
  text-transform: uppercase;
  color: #b61984;
}
.members .list .item:hover {
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}

.request .wrapper {
  margin-left: 8rem;
  margin-right: 8rem;
}
.request .wrapper .find {
  background-color: rgb(255, 255, 255);
  border-color: #E5E5E5;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s ease;
}
.request .wrapper .find .btContactName {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  width: 12rem;
  height: 3rem;
  text-align: center;
  padding-left: 10px;
  padding-top: 10px;
  transition: 0.5s ease;
}
.request .wrapper .find .btContactName i {
  color: #b61984;
  margin-right: 2px;
}
.request .wrapper .find .btContactName input {
  font-size: 14px;
  outline: none;
  width: 7rem;
}
.request .wrapper .find .btContactName:hover {
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}
.request .wrapper .find .fancy-select {
  position: relative;
}
.request .wrapper .find .fancy-select i {
  position: absolute;
  top: 34px;
  font-size: 20px;
  left: 28px;
  color: #b61984;
}
.request .wrapper .find .fancy-select select {
  border-radius: 22px;
  margin-left: 60px;
  height: 3rem;
  width: 21rem;
}
.request .wrapper .find .fancy-select select .custom-select {
  width: 20rem;
  height: 2.6rem;
  position: relative;
}
.request .wrapper .find .fancy-select select .custom-select option {
  font-size: 14px;
}
.request .wrapper .find .message {
  height: 8rem;
  color: #b61984;
  padding-left: 20px;
  padding-top: 6px;
  border-radius: 22px;
  border: 2px solid #E5E5E5;
  position: relative;
}
.request .wrapper .find .message textarea {
  outline: none;
  height: 7rem;
  width: 21rem;
  margin-left: 34px;
  font-size: 14px;
}
.request .wrapper .find .message i {
  position: absolute;
  left: 28px;
  top: 8px;
  font-size: 20px;
}
.request .wrapper .find .message:hover {
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}
.request .wrapper .find .sendfeedback button {
  border-radius: 24px;
  width: 10rem;
  height: 3rem;
  box-shadow: 0 0 0 3em #b61984 inset;
  color: #fff;
  text-transform: uppercase;
  transition: 0.3s ease;
}
.request .wrapper .find .sendfeedback button:hover {
  color: #b61984;
  box-shadow: 0 0 0 1px #b61984 inset;
  background-color: #fff;
}

footer {
  background-image: url(../images/footer_background.jpg);
}
footer .wrapper {
  color: #fff;
}
footer .wrapper h3 {
  font-size: 30px;
  font-weight: 700;
}
footer .wrapper ul i {
  margin-right: 10px;
}
footer .wrapper ul nav i {
  padding-top: 10px;
  transition: 0.3s ease;
}
footer .wrapper ul nav i:hover {
  color: #b61984;
}
footer .wrapper ul li a {
  transition: 0.5s ease;
}
footer .wrapper ul li a:hover {
  color: #ee5b54;
}
footer .wrapper .subcribe input {
  outline: none;
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: #b61984;
  text-align: center;
  width: 14rem;
  height: 3rem;
}
footer .wrapper .subcribe input::-moz-placeholder {
  color: #fff;
}
footer .wrapper .subcribe input:-ms-input-placeholder {
  color: #fff;
}
footer .wrapper .subcribe input::placeholder {
  color: #fff;
}
footer .wrapper .subcribe button {
  border-radius: 24px;
  width: 14rem;
  height: 3rem;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0 0 0 3em #fff inset;
  color: #000000;
  text-transform: uppercase;
  transition: 0.3s ease;
}
footer .wrapper .subcribe button:hover {
  color: #fff;
  box-shadow: 0 0 0 1px #b61984 inset;
  background-color: #b61984;
}/*# sourceMappingURL=index.css.map */