//variable

$color-pink-1: #b61984;
$color-orange-1: #ee5b54;
$color-black-1: rgb(0 0 0 / 20%);
$color-black-2: rgba(0,0,0,.1);
$color-black-3: #000000;
$color-gray-1: rgb(118, 118, 118);
$color-gray-2: rgb(133, 133, 133);
$color-gray-3: #E5E5E5;
$color-white-1: #fff;
$color-white-2: rgba(255, 255, 255, 1);

.container {
    width: 90% !important;
    margin: 0 auto;
}

header {
    background-image: url(../images/yellow_top_wave_01.png);
    background-position: 25% 75%;
    .title {
        nav {
            a {
                margin-left: 40px;
                transition: 0.3s;
                position: relative;
                &:hover{
                    color: $color-pink-1;
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -40px;
                    background: $color-pink-1;
                }
                &:hover::before {
                    width: 10px;
                    height: 10px;
                    right: 40%;
                    border-radius: 50%;
                } 
            }
            a.active {
                &::before{
                    width: 10px;
                    height: 10px;
                    right: 40%;
                    border-radius: 50%;
                }
            }
        }
        .contact {
            margin-left: 40px;
            button {
                width: 12rem;
                box-shadow: 0 0 0 3em $color-pink-1 inset;
                color: $color-white-1;
                border-radius: 22px;
                transition: 0.3s;
                i {
                    rotate: 270deg;
                }
                &:hover {
                    color: $color-pink-1;
                    box-shadow: 0 0 0 1px $color-pink-1 inset;
                }
            }
            nav {
                i {
                    margin-left: 10px;
                    transition: 0.3s;
                    &:hover {
                        color: $color-pink-1;
                    }
                }
            }
        }
    }
}

.banner {
    h3 {
        color: $color-pink-1;
    }
}

.members {
    background-image: url(../images/Violet_top_left_wave.png);
    .list {
        .item {
            transition: 0.3s ease-in-out;
            background-color: $color-white-1;
            border-radius: 10px;
            .wrapper{
                border-radius: 10px 10px 0px 0px;
                .image {
                    overflow: hidden;
                    img {
                        display: block;
                        margin: 0;
                        max-width: 100%;
                        height: auto;
                        transform: scale3d(1,1,1);
                        transition: transform 650ms ease-in-out,filter 650ms ease-in-out;
                        &:hover {
                            height: auto;
                            transform: scale3d(1.05,1.05,1.05);
                        }
                    }
                }
                .desc {
                    border-radius: 10px;
                    padding-left: 1em;
                    padding-right: 1em;
                    background-color: $color-white-2;
                    h3 {
                        text-transform: uppercase;
                        color: $color-pink-1;
                    }
                }
            }
            &:hover {
                box-shadow: 0 30px 30px -10px $color-black-1;
            }
        }
    }
}

.request {
    .wrapper {
        margin-left: 8rem;
        margin-right: 8rem;
        .find {
            background-color: $color-white-2;
            border-color: $color-gray-3;
            border-radius: 10px;
            overflow: hidden;
            transition: 0.5s ease;
            .btContactName {
                border: 1px solid $color-black-2;
                border-radius: 50px;
                width: 12rem;
                height: 3rem;
                text-align: center;
                padding-left: 10px;
                padding-top: 10px;
                transition: 0.5s ease;
                i{
                    color: $color-pink-1;
                    margin-right: 2px;
                }
                input {
                    font-size: 14px;
                    outline: none;
                    width: 7rem;
                }
                &:hover {
                    box-shadow: 0 30px 30px -10px $color-black-1;
                }
            }
            .fancy-select {
                position: relative;
                i {
                    position: absolute;
                    top: 34px; 
                    font-size: 20px;
                    left: 28px;
                    color: $color-pink-1;
                }
                select {
                    border-radius: 22px;
                    margin-left: 60px;
                    height: 3rem;
                    width: 21rem;
                    .custom-select {
                        width: 20rem;
                        height: 2.6rem;
                        position: relative;
                        option {
                            font-size: 14px;
                        }
                    }
                }
            }
            .message {
                height: 8rem;
                color: $color-pink-1;
                padding-left: 20px;
                padding-top: 6px;
                border-radius: 22px;
                border: 2px solid $color-gray-3;
                position: relative;
                
                textarea {
                    outline: none;
                    height: 7rem;
                    width: 21rem;
                    margin-left: 34px;
                    font-size: 14px;
                }
                i {
                    position: absolute;
                    left: 28px;
                    top: 8px;
                    font-size: 20px;
                }
                &:hover {
                    box-shadow: 0 30px 30px -10px $color-black-1;
                }
            }
            .sendfeedback {
                button {
                    border-radius: 24px;
                    width: 10rem;
                    height: 3rem;
                    box-shadow: 0 0 0 3em $color-pink-1 inset;
                    color: $color-white-1;
                    text-transform: uppercase;
                    transition: 0.3s ease;
                    &:hover{
                        color: $color-pink-1;
                        box-shadow: 0 0 0 1px $color-pink-1 inset;
                        background-color: $color-white-1;
                    }
                }
            }
        }
    }
}

footer {
    background-image: url(../images/footer_background.jpg);
   .wrapper {
    color: $color-white-1;
        h3 {
            font-size: 30px;
            font-weight: 700;
        }
        ul {
            i {
                margin-right: 10px;
            }
            nav {
                i {
                    padding-top: 10px;
                    transition: 0.3s ease;
                    &:hover {
                        color: $color-pink-1;
                    }
                }
            }
            li {
                a {
                    transition: 0.5s ease;
                    &:hover {
                        color: $color-orange-1;
                    }
                }
            }
        }
        .subcribe {
            input {
                outline: none;
                border: 2px solid $color-white-1;
                border-radius: 20px;
                background-color: $color-pink-1;
                text-align: center;
                width: 14rem;
                height: 3rem;
                &::placeholder {
                    color: $color-white-1;
                }
            }
            button {
                border-radius: 24px;
                width: 14rem;
                height: 3rem;
                font-size: 14px;
                font-weight: 600;
                box-shadow: 0 0 0 3em $color-white-1 inset;
                color: $color-black-3;
                text-transform: uppercase;
                transition: 0.3s ease;
                &:hover{
                    color: $color-white-1;
                    box-shadow: 0 0 0 1px $color-pink-1 inset;
                    background-color: $color-pink-1;
                }
            }
        }
   } 
}